* {
  box-sizing: border-box;
  font-family: 'Artifika', serif;
  background-color: #040013; }
  * p, * span {
    font-size: 1.3rem;
    font-family: 'Merriweather', serif;
    line-height: 2rem; }

#fcc_test_suite_wrapper {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  box-shadow: none;
  scroll-snap-align: none center; }

body {
  display: flex;
  flex-direction: column;
  align-items: center; }

#header {
  width: 80%;
  margin: 0% 3%;
  padding: 3% 0% 0% 0%;
  flex: 1; }
  @media only screen and (max-width: 600px) {
    #header {
      width: 98%; } }
  #header .header-wrapper {
    padding: 5% 1% 1% 1%;
    margin-top: 0%;
    width: 100%;
    display: flex;
    border-width: 0.2rem 0 0rem 0;
    border-color: #4400ff;
    border-style: solid;
    flex-direction: column; }
    #header .header-wrapper .title-wrapper {
      position: relative;
      align-self: center;
      flex: 2;
      height: 100%;
      width: 70%;
      padding: 1%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media only screen and (max-width: 1000px) {
        #header .header-wrapper .title-wrapper {
          width: 100%; } }
      #header .header-wrapper .title-wrapper #title {
        text-align: center;
        position: relative;
        color: #36a5ff;
        margin: 1% 0%;
        font-size: 3rem;
        font-weight: 2rem; }
        @media only screen and (max-width: 500px) {
          #header .header-wrapper .title-wrapper #title {
            font-size: 2.5rem; } }
      #header .header-wrapper .title-wrapper p {
        text-align: center;
        color: white; }
    #header .header-wrapper #img-div {
      flex: 3;
      align-self: center;
      margin: auto;
      margin: 0% 5%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 2%;
      background: linear-gradient(to right, #4400ff 0.2rem, transparent 0.2rem) 0 0%, linear-gradient(to right, #4400ff 0.2rem, transparent 0.2rem) 0 100%, linear-gradient(to left, #4400ff 0.2rem, transparent 0.2rem) 100% 0, linear-gradient(to left, #4400ff 0.2rem, transparent 0.2rem) 100% 100%, linear-gradient(to bottom, #4400ff 0.2rem, transparent 0.2rem) 0 0%, linear-gradient(to bottom, #4400ff 0.2rem, transparent 0.2rem) 100% 0, linear-gradient(to top, #4400ff 0.2rem, transparent 0.2rem) 0 100%, linear-gradient(to top, #4400ff 0.2rem, transparent 0.2rem) 100% 100%;
      background-repeat: no-repeat;
      background-size: 60px 60px; }
      #header .header-wrapper #img-div #image {
        width: 100%;
        height: auto;
        max-width: 725px;
        margin-left: auto;
        margin-right: auto;
        padding: 0%;
        display: block; }
      #header .header-wrapper #img-div #img-caption {
        height: auto;
        max-width: 725px;
        width: 100%;
        display: block;
        color: #7a8c97;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        font-size: 1rem;
        text-align: center; }
    @media only screen and (max-width: 900px) {
      #header .header-wrapper #img-div {
        width: 100%; } }

#main {
  flex-direction: column;
  align-items: center;
  margin: 0%;
  margin-top: 0%;
  width: 80%; }
  @media only screen and (max-width: 600px) {
    #main {
      width: 98%; } }
  #main #tribute-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%; }
    #main #tribute-info article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #36a5ff;
      width: 100%;
      align-self: flex-start;
      margin: 0 0 2% 0;
      text-align: center; }
      #main #tribute-info article h1 {
        font-size: 2rem;
        text-align: center;
        color: #36a5ff;
        width: 70%;
        align-self: center;
        margin: 3% 0% 0% 0%; }
        @media only screen and (max-width: 800px) {
          #main #tribute-info article h1 {
            width: 100%; } }
      #main #tribute-info article p {
        width: 70%;
        margin-top: 1.5%;
        align-self: center;
        color: white; }
        @media only screen and (max-width: 800px) {
          #main #tribute-info article p {
            width: 100%; } }
        @media only screen and (max-width: 1000px) {
          #main #tribute-info article p {
            width: 100%;
            text-align: left; } }
    #main #tribute-info .timeline-wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 0%;
      padding: 0%;
      width: 100%; }
      #main #tribute-info .timeline-wrapper h2 {
        align-self: center;
        text-align: center;
        width: 80%;
        color: #36a5ff;
        font-size: 2rem; }
      #main #tribute-info .timeline-wrapper .line:nth-of-type(2) {
        transform: translateY(0.2rem); }
      #main #tribute-info .timeline-wrapper .line:nth-of-type(4) {
        transform: translateY(-0.2rem); }
    #main #tribute-info .timeline {
      background: linear-gradient(to right, #4400ff 0.2rem, transparent 0.2rem) 0 0%, linear-gradient(to right, #4400ff 0.2rem, transparent 0.2rem) 0 100%, linear-gradient(to left, #4400ff 0.2rem, transparent 0.2rem) 100% 0, linear-gradient(to left, #4400ff 0.2rem, transparent 0.2rem) 100% 100%, linear-gradient(to bottom, #4400ff 0.2rem, transparent 0.2rem) 0 0%, linear-gradient(to bottom, #4400ff 0.2rem, transparent 0.2rem) 100% 0, linear-gradient(to top, #4400ff 0.2rem, transparent 0.2rem) 0 100%, linear-gradient(to top, #4400ff 0.2rem, transparent 0.2rem) 100% 100%;
      background-repeat: no-repeat;
      background-size: 60px 60px;
      padding: 2%;
      width: 100%;
      position: relative;
      max-width: 1200px;
      margin: 4% auto;
      margin-top: 0%;
      margin-bottom: 0%; }
      #main #tribute-info .timeline::after {
        content: '';
        position: absolute;
        width: 0.2rem;
        background-color: #4400ff;
        top: 0.3%;
        bottom: 0.3%;
        left: 50%;
        margin-left: -0.2rem; }
        @media only screen and (max-width: 800px) {
          #main #tribute-info .timeline::after {
            left: 5.6%; } }
        @media only screen and (max-width: 500px) {
          #main #tribute-info .timeline::after {
            left: 9.6%; } }
      #main #tribute-info .timeline .entry {
        flex: none;
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 50%;
        height: 100%; }
        @media only screen and (max-width: 800px) {
          #main #tribute-info .timeline .entry {
            width: 100%; } }
        #main #tribute-info .timeline .entry:hover::after {
          border-color: #4400ff !important;
          box-shadow: 0px 0px 40px 0.2rem #4400ff;
          transition: all 0.3s ease;
          background-color: #4400ff !important; }
        #main #tribute-info .timeline .entry .entry-title {
          display: flex;
          align-items: flex-end;
          justify-content: space-between; }
          #main #tribute-info .timeline .entry .entry-title h1 {
            color: #36a5ff;
            margin: 0; }
          #main #tribute-info .timeline .entry .entry-title .icon {
            border: solid 0.2rem white;
            border-radius: 100%;
            height: 8px;
            width: 8px; }
        #main #tribute-info .timeline .entry .entry-content {
          color: white;
          border-color: rgba(255, 6, 6, 0);
          border-width: 0 0.2rem 0.2rem 0.2rem;
          border-style: solid;
          width: 100%; }
          #main #tribute-info .timeline .entry .entry-content p {
            width: 100%;
            margin: 1% 0; }
      @media only screen and (max-width: 800px) {
        #main #tribute-info .timeline .entry:nth-of-type(even) {
          left: 3.8%; } }
      @media only screen and (max-width: 500px) {
        #main #tribute-info .timeline .entry:nth-of-type(even) {
          left: 7.8%; } }
      #main #tribute-info .timeline .entry:nth-of-type(even)::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
        border: medium solid white;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent transparent; }
      #main #tribute-info .timeline .entry:nth-of-type(even)::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -15px;
        background-color: #040013;
        border: 3px solid #4400ff;
        top: 15px;
        border-radius: 50%;
        z-index: 1; }
        @media only screen and (max-width: 800px) {
          #main #tribute-info .timeline .entry:nth-of-type(even)::after {
            right: 0px;
            left: -17px; } }
      #main #tribute-info .timeline .entry:nth-of-type(even) .entry-title {
        justify-content: flex-end;
        margin-left: auto; }
        @media only screen and (max-width: 800px) {
          #main #tribute-info .timeline .entry:nth-of-type(even) .entry-title {
            justify-content: flex-start; } }
        #main #tribute-info .timeline .entry:nth-of-type(even) .entry-title h3 {
          color: white;
          text-align: right; }
      #main #tribute-info .timeline .entry:nth-of-type(even) .entry-content {
        display: flex;
        justify-content: flex-end; }
        #main #tribute-info .timeline .entry:nth-of-type(even) .entry-content p {
          text-align: right; }
          @media only screen and (max-width: 800px) {
            #main #tribute-info .timeline .entry:nth-of-type(even) .entry-content p {
              text-align: left; } }
      #main #tribute-info .timeline .entry:nth-of-type(odd) {
        left: 50%; }
        @media only screen and (max-width: 800px) {
          #main #tribute-info .timeline .entry:nth-of-type(odd) {
            left: 3.8%; } }
        @media only screen and (max-width: 500px) {
          #main #tribute-info .timeline .entry:nth-of-type(odd) {
            left: 7.8%; } }
        #main #tribute-info .timeline .entry:nth-of-type(odd)::before {
          content: " ";
          height: 0;
          position: absolute;
          top: 22px;
          width: 0;
          z-index: 1;
          left: 30px;
          border: medium solid white;
          border-width: 10px 10px 10px 0;
          border-color: transparent transparent transparent transparent; }
        #main #tribute-info .timeline .entry:nth-of-type(odd)::after {
          content: '';
          position: absolute;
          width: 25px;
          height: 25px;
          right: -17px;
          left: -17px;
          background-color: #040013;
          border: 3px solid #4400ff;
          top: 15px;
          border-radius: 50%;
          z-index: 1; }

#footer {
  color: white;
  width: 80%; }
  @media only screen and (max-width: 600px) {
    #footer {
      width: 98%; } }
  #footer p {
    text-align: center; }
    #footer p #tribute-link {
      padding: 0;
      margin: 0;
      display: inline-block;
      color: #ff833b; }

.line {
  background-color: #4400ff;
  height: 0.2rem;
  width: 60% !important;
  margin: 0% auto; }

#line-longer {
  background-color: #4400ff;
  height: 0.2rem;
  width: 100%;
  margin: 3% auto; }

.highlight-text {
  color: red !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important; }
